.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-content {
    display: grid;
    background: var(--gradient-app);
    display: flex;
    justify-content: center;
    padding: var(--space-6);
}
